* {
  border: solid 0.5px red;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
