/* * {
  border: solid 0.5px red;
} */

.photo-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: flex-end;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.gallery-button {
  position: relative;
  width: 100px;
  height: 25px;
}

#img-container {
  width: 100%;
  max-width: 642px;
  display: grid;
  grid-template-columns: 50% 50%;
}

#img-container div {
  grid-column: 1 / 3;
}

#img-container img {
  width: 100%;
}

#img-container p {
  margin: 5px 10px 5px 10px;
}

#button-previous {
  justify-self: flex-start;
  grid-column: 1/2;
  margin: 5px 0 5px 5px;
}

#button-next {
  justify-self: flex-end;
  grid-column: 2/3;
  margin: 5px 5px 5px 0px;
}